@font-face {
  font-family: "FontName";
  src: url("../fonts/fontname.eot");
  src: url("../fonts/fontname.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fontname.woff") format("woff"),
    url("../fonts/fontname.ttf") format("truetype"),
    url("../fonts/fontname.svg#fontname") format("svg");
}

div.cs-skin-border {
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  max-width: 600px;
}

@media screen and (max-width: 30em) {
  div.cs-skin-border {
    font-size: 1em;
  }
}

.cs-skin-border > span {
  border: 5px solid #000;
  border-color: inherit;
  -webkit-transition: background 0.2s, border-color 0.2s;
  transition: background 0.2s, border-color 0.2s;
}

.cs-skin-border > span::after,
.cs-skin-border ul span::after {
  content: "";
  opacity: 0;
}

.cs-skin-border.cs-active > span {
  background: #fff;
  border-color: #fff;
  color: #186ddb;
}

.cs-skin-border .cs-options {
  color: #186ddb;
  font-size: 0.75em;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cs-skin-border ul span {
  padding: 1em 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
  background: #f5f3ec;
}
